<div class="show_vxi_gk-wraper">
  <div class='vxi-logo-container'>
    <%= link_to image_tag("vxi-logo.png", :alt => 'logo'), {action: 'new', controller: 'contacts'}%>
  </div>

  <div class="show_vxi_gk-container">
    <div class="show_vxi_gk-container-title">
      VXI-GK YOLANDA DONATION TURNOVER CEREMONY IN SAMAR
    </div>

    <div class="show_vxi_gk-text-title-date">
      October 17, 2015 By: <spam>webadmin</spam>
    </div>

    <div class="show_vxi_gk-image">
      <%= image_tag('blog/unnamed-1024x683.jpg') %>
    </div>

    <div class="show_vxi_gk-info-container">
      <p>
        TOur #ChooseToBeHappy campaign upholds our commitment to bring happiness to the lives of people, to care for their well-being, to happily serve our clients and customers and the communities where we live and operate.
      </p>
      <p>
        Over the past year, our community engagement priorities has focused on contributing to sustainable livelihood support and recovery efforts for those affected by calamities. We’re able to help fourteen families in Eastern Samar rebuild their homes and community in partnership with Gawad Kalinga. The official turnover ceremony was held on October 5, 2015. It was a festive day to celebrate Bayanihan with our kababayans.
      </p>
      <p>
        In the photo are the Executives, Wilkins Tan, VP for Support Services, Sherwin Sangrador, Director for REAF, Debbie Santos, VP for Talent Acquisition and Jovy Llanes, VP for Human Resources.
      </p>
      <div class="space-bottom">
      </div>
    </div>
  </div>  
</div>
