@import "bootstrap";

.rex-1353x699 {
  width: 100%;
  height: 780px;
  background-image: url('background/rex-1353x699.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.raffy-1 {
 width: 100%;
  height: 780px;
  background-image: url('background/raffy-1.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.sundae-1353x699 {
  width: 100%;
  height: 780px;
  background-image: url('background/sundae-1353x699.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.velvet-1353x699 {
  width: 100%;
  height: 780px;
  background-image: url('background/velvet-1353x699.png');
  background-repeat: no-repeat;
  background-size: cover;
}


.vxi-logo-container{
  left: 200px;
  width: 265px;
  height: 200px;
  position: absolute;
}

.vxi-logo-container:hover {
  cursor: pointer;
}

.vxi-logo-container img {
    width: 100%;
    height: auto;
}

.vxi-form-container{
  padding-top: 17%;
  margin-left: 14%;
  width: 32%;
  color: white;
}

.combobox-form {
  margin: 3px 0 3px 0;
  width: 100%;
}

.combobox-form-label {
  margin: 3px 0 3px 0;
  width: 100%;
}

.two-column-form-container {
  display: inline-flex;
  width: 100%;
}

.single-column {
  width: 48%;
  padding-bottom: 8px;
  margin-right: 10px;
}

.label-form-container {
  font-size: .9em;
}

.submit-btn{
  background: #fcee18;
  color: #d41c65;
  width: 140px;
  height: 45px;
  font-size: 1.4em;
  padding: 10px 30px;
  display: inline-block;
  font-weight: 700;
  border: none;
}

.dropdown-container select{
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.cust-sales-tech-wraper {
  width: 100%;
  height: 780px;
  background-image: url('info-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.cust-sales-tech-wraper-info {
  margin-left: 13%;
  padding-top: 4%;
  width: 42%;
  color: #fff;
}

.cust-sales-tech-wraper-info p{
  line-height: 1.4;
  font-size: 18px;
  margin-bottom: 25px;
}

.cust-sales-tech-wraper-title {
  display: inline-flex;
  margin-top: 10px;
  margin-bottom: 18px;
}

.cust-sales-tech-wraper-info-title {
  font-size: 2.1em;
  color: #f5e600;
  -webkit-transform:scale(0.7, 1.6);
  -moz-transform:scale(0.7, 1.6);
  -ms-transform:scale(0.7, 1.6);
  -o-transform:scale(0.7, 1.6);
  transform:scale(0.7, 1.6);
  font-family: Lemon;
  margin-left: -14%;
}

.cust-sales-tech-wraper-title-img {
  margin-left: -10%;
  width: 45px;
  height: 45px;
  background-repeat: no-repeat;
  background-size: cover;
}

.cust-sales-tech-wraper-title-img-dollar {
  margin-left: -10%;
  width: 40px;
  height: 40px;
}

.cust-sales-tech-wraper-title-img-gears {
  margin-left: -10%;
  width: 60px;
  height: 40px;
}


.cust-sales-tech-wraper-title-img img {
    width: 100%;
    height: auto;
}

.cust-sales-tech-wraper-title-img-dollar img {
    width: 100%;
    height: auto;
}

.cust-sales-tech-wraper-title-img-gears img {
    width: 100%;
    height: auto;
}

.passion-people-wraper {
  width: 100%;
  height: 780px;
  background-color: #ff5505;
  display: inline-flex;
  padding-top: 15px;
}

.air-plane-wraper {
  float: right;
  width: 200px;
  margin-left: -10%;
}

.passion-people-table {
  width: 70%;
  float: left;
  margin-top: 10%;
  margin-left: 14%;
  padding-left: 15px;
  display: inline-flex;
}

.passion-people-table-left {
  width: 49%;
}

.passion-people-table-right {
  width: 51%;
  color: #fff;
  padding-left: 12px;
}

.passion-people-table-right p {
  line-height: 1.4;
  font-size: 18px;
  margin-bottom: 25px;
}

.passion-for-people-get-in-touch {
  margin-top: 5px;
  background-color: #fcee18;
  color: #ff5a00;
  width: 320px;
  height: 45px;
  font-size: 1.3em;
  padding: 10px 30px;
  display: inline-block;
  font-weight: 400;
  border: none;
}

.passion-for-people-get-in-touch:hover {
  cursor: pointer;
}

.air-plane-wraper-left {
  position: absolute;
  margin-top: 5.65in;
}

.vxi-contact-info-wraper {
  width: 100%;
  height: 235px;
  background-color: white;
  display: inline-flex;
  padding-left: 78px;
}

.vxi-contact-info-logo {
  padding: 21px;
  margin-top: 15%;
  margin-left: 21%;
}

.vxi-contact-info-logo:hover {
  cursor: pointer;
}

.vxi-contact-info-logo img{
  width: 70%;
  height: auto;
}

.vxi-contact-info-visit {
  width: 45%;
  padding: 0 15px;
  margin-top: 2.4%;
}

.vxi-contact-info-visit h3 {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 10px;
  padding-left: 37px;
}

.vxi-contact-info-visit ul {
  list-style: none;
  margin-bottom: 0px;
}

.vxi-contact-info-visit ul li {
  font-weight: 500;
  color: #353535;
  font-size: 12px;
  margin-bottom: 2px;
  margin-bottom: 0px;
}

.vxi-contact-info-visit li p {
  padding-left: 125px;
  position: relative;
  margin-bottom: 0px;
}

.vxi-contact-info-visit li p span {
  position: absolute;
  left: 0;
  top: 0;
  padding-right: 8px;
}


.vxi-contact-info-social {
  height: auto;
  margin-top: 15%;
  margin-left: 66px;
}

.vxi-contact-info-social-email {
  display: inline-flex;
  width: 100%;
}

.vxi-contact-info-social-email:hover {
  cursor: pointer;
}

.vxi-contact-info-social-email img {
  width: 6.5%;
  height: 26px;
  margin-right: 4px;
}

.vxi-contact-info-social-phone {
  display: inline-flex;
  width: 100%;
}

.vxi-contact-info-social-phone:hover {
  cursor: pointer;
}

.vxi-contact-info-social-phone img {
  width: 6.5%;
  height: 26px;
  margin-right: 4px;
}

.vxi-contact-info-social-networks {
  display: inline-flex;
  width: 100%;
}

.vxi-contact-info-social-networks-facebook  {
  width: 6.5%;
  height: 26px;
  margin-right: 4px;
}

.vxi-contact-info-social-networks-facebook:hover {
  cursor: pointer;
}

.vxi-contact-info-social-networks-facebook  img {
  width: 90%;
  height: 26px;
}

.vxi-contact-info-social-networks-instagram  {
  width: 6.5%;
  height: 26px;
  margin-right: 4px;
}

.vxi-contact-info-social-networks-instagram:hover {
  cursor: pointer;
}

.vxi-contact-info-social-networks-instagram img  {
  width: 90%;
  height: 26px;
}

.vxi-contact-info-social-networks-twitter  {
  width: 6.5%;
  height: 26px;
  margin-right: 4px;
}

.vxi-contact-info-social-networks-twitter:hover {
  cursor: pointer;
}

.vxi-contact-info-social-networks-twitter img {
  width: 90%;
  height: 26px;
}

.blog-wraper {
  background-color: #353535;
  width: 100%;
  height: 780px;
  color: white;
  font-size: 19px;
}


.blog-container {
  width: 100%;
  margin-left: 14%;
  padding-top: 9%;
  padding-right: 12%;
}

.blog-title {
  font-size: 2.5em;
  -webkit-transform:scale(0.7, 1.6);
  -moz-transform:scale(0.7, 1.6);
  -ms-transform:scale(0.7, 1.6);
  -o-transform:scale(0.7, 1.6);
  transform:scale(0.7, 1.6);
  font-family: Lemon;
  color: #ff5a00;
  text-align: center;
  margin-bottom: 70px;
  margin-left: -5%;
}

.blog-people {
  width: 100%;
  display: inline-flex;
  margin-bottom: 10px;
}

.blog-people-image {
  width: 35%;
  padding: 0 25px 0 25px;
}

.blog-people-image img {
  width: 90%;
  height: 160px;
}

.blog-people-text {
  width: 48%;
  padding-left: 15px;
}

.blog-people-text-title a{
  color: yellow;
  -webkit-transform:scale(0.9, 1.6);
  -moz-transform:scale(0.9, 1.6);
  -ms-transform:scale(0.9, 1.6);
  -o-transform:scale(0.9, 1.6);
  transform:scale(0.9, 1.6);
  font-family: Lemon;
  margin-bottom: 15px;
}

.blog-people-text-title-date {
  font-size: 12px;
  margin-bottom: 35px;
}

.blog-people-text-title-date spam {
  font-size: 10px;
  color: #ff5a00;
}

.blog-people-text p spam a {
  color: yellow;
  text-decoration: none;
}

.blog-vxi-gk {
  width: 82%;
  border-top: solid 1px white;
  padding-top: 40px;
}

.blog-vxi-gk p spam a {
  color: yellow;
  text-decoration: none;
}

.people-wraper {
  background-color: #353535;
  width: 100%;
  color: white;
  font-size: 16px;
}

.people-container {
  width: 70%;
  margin: 0 15% 0 15%;
}

.people-container-title {
  font-size: 2em;
  -webkit-transform:scale(0.7, 1.6);
  -moz-transform:scale(0.7, 1.6);
  -ms-transform:scale(0.7, 1.6);
  -o-transform:scale(0.7, 1.6);
  transform:scale(0.7, 1.6);
  font-family: Lemon;
  color: #ff5a00;
  text-align: center;
  margin-bottom: 70px;
  margin-left: -10%;
  padding-top: 17%;
  line-height: 1;
}

.people-image {
  margin-top: 35px;
  width: 100%;
}

.people-image img{
  width: 100%;
}

.people-text-title-date {
  font-size: 12px;
  padding: 20px 0 35px 0;
  text-align: center;
}

.people-text-title-date spam {
  font-size: 10px;
  color: #ff5a00;
}

.people-info-container {
  margin-top: 25px;
}

.people-info-container p {
  margin: 50px 0 20px 0;
}

.people-info-img {
  width: 100%;
  padding-left: 35%;
}

.people-info-img img {
  width: 29%;
}

.space-bottom {
  height: 95px;
}





.show_vxi_gk-wraper {
  background-color: #353535;
  width: 100%;
  color: white;
  font-size: 16px;
}

.show_vxi_gk-container {
  width: 70%;
  margin: 0 15% 0 15%;
}

.show_vxi_gk-container-title {
  font-size: 2em;
  -webkit-transform:scale(0.7, 1.6);
  -moz-transform:scale(0.7, 1.6);
  -ms-transform:scale(0.7, 1.6);
  -o-transform:scale(0.7, 1.6);
  transform:scale(0.7, 1.6);
  font-family: Lemon;
  color: #ff5a00;
  text-align: center;
  margin-bottom: 70px;
  margin-left: -10%;
  padding-top: 17%;
  line-height: 1;
}

.show_vxi_gk-image {
  margin-top: 35px;
  width: 100%;
}

.show_vxi_gk-image img{
  width: 100%;
}

.show_vxi_gk-text-title-date {
  font-size: 12px;
  padding: 20px 0 35px 0;
  text-align: center;
}

.show_vxi_gk-text-title-date spam {
  font-size: 10px;
  color: #ff5a00;
}

.show_vxi_gk-info-container {
  margin-top: 25px;
}

.show_vxi_gk-info-container p {
  margin: 50px 0 20px 0;
}

.show_vxi_gk-info-img {
  width: 100%;
  padding-left: 35%;
}

.show_vxi_gk-info-img img {
  width: 29%;
}

.space-bottom {
  height: 95px;
}

.menu {
  display: inline-flex;
  padding: 18px;
  background-color: white;
  position: fixed;
  margin-right: 14%;
  right: 0;
}

.menu a {
  text-decoration: none;
  color: black;
}

.menu-space {
  margin: 0 16px 0 16px;
  border-left: solid 1px black;
  hegith: auto;
}

.error-catch {
  background-color: #353535;
  width: 100%;
  color: white;
  font-size: 16px;
  padding: 250px 0 100px 490px;
}

.error-catch-btn {
  margin-top: 5px;
  background-color: #fcee18;
  color: #ff5a00;
  width: 250px;
  height: 45px;
  font-size: 1.3em;
  padding: 10px 30px 0 50px;
  display: inline-block;
  font-weight: 400;
  border: none;
}

.error-catch-btn a {
  color: #ff5a00;
  text-decoration: none;
}

.first-error-hidden {
  font-size: 1px;
  display: none;
}

.first-error-show{
  font-size: 13px;
  font-weight: 400;
  color: black;
}

.last-error-hidden {
  font-size: 1px;
  display: none;
}

.last-error-show{
  font-size: 13px;
  font-weight: 400;
  color: black;
}
.email-error-hidden {
  font-size: 1px;
  display: none;
}

.email-error-show{
  font-size: 13px;
  font-weight: 400;
  color: black;
}
.contact-error-hidden {
  font-size: 1px;
  display: none;
}

.contact-error-show{
  font-size: 13px;
  font-weight: 400;
  color: black;
}

.facebook-btn {
  background: #143884;
  color: white;
  width: 300px;
  margin: 0 0 45px 55px;
  padding: 10px;
  padding-left: 70px;
  font-weight: 400;
}

.facebook-btn:hover {
  background: #3b5898;
  cursor: pointer;
  text-decoration: none;
}

.fill-up-form {
  width: 300px;
  margin-left: 55px;
  color: white;
  font-size: 11px;
  border-bottom: solid 1px white;
  padding-left: 100px;
}

